/*---------------------
  Header
-----------------------*/

:root {
	--primary-color: rgb(238, 77, 45);
	--white-color: #fff;
	--black-color: #000;
	--text-color: #333;
	--star-gold-color: #ffce3e;
	--border-color: #dbdbdb;
	--navbar-height: 34px;
	--header-height: 120px;
	--header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

.header {
    background: $white-color;
    box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
    position: relative;
}

.header__logo {
    padding: 17px 0; 

    a {
        display: inline-block;
    }
}

.header__menu {
    padding: 30px 0 27px;

    ul {

        li {
            list-style: none;
            display: inline-block;
            margin-right: 40px;
            position: relative;

            &.active {

                a {
                    
                    &:after {
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }
            }

            &:hover {

                a {
                    
                    &:after {
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }

            }

            &:last-child {
                margin-right: 0;
                &.header__cart-list {
                    display: block;
                }
            }

            

            a {
                font-size: 15px;
                text-transform: uppercase;
                color: $heading-color;
                font-weight: 500;
                display: block;
                padding: 2px 0;
                position: relative;

                &:after {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background: $primary-color;
                    content: '';
                    @include transition(all, .5s);
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
            }
        }
    }
}

.header__right {
    text-align: right;
    padding: 30px 0 27px;
}

.header__right__auth{
    display: inline-block;
    margin-right: 25px;

    a{
        font-size: 12px;
        color: #6666;
        position: relative;
        margin-right: 8px;

        &:last-child{
            margin-right: 0;

            &:after {
                display: none;
            }
        }
        &:after {
            position: absolute;
            right: -8px;
            top: -2px;
            content: "/";
            font-size: 13px;
        }
    }
}

.header__right__widget {
    display: inline-block;

    li {
        list-style: none;
        display: inline-block;
        font-size: 18px;
        color: $heading-color;
        margin-right: 20px;
        cursor: pointer;
        
        &:last-child {
            margin-right: 0;
            position: relative;
        }

        a {
            font-size: 18px;
            color: $heading-color;
            position: relative;

            .tip {
                position: absolute;
                right: -12px;
                top: -11px;
                height: 18px;
                width: 18px;
                background: $heading-color;
                font-size: 10px;
                font-weight: 500;
                color: $white-color;
                line-height: 18px;
                text-align: center;
                border-radius: 50%;
            }
        }
    }
}
.offcanvas-menu-wrapper {
    display: none;
}

.canvas__open {
    display: none;
}

.discount{
    margin-top: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 2378px;
    z-index: 100;
    background-color: #e2deda;
    top: 55px;
    padding-left: 78px;
    left: -829px;
    transition:  .4s;
    &::before {
        cursor: pointer;
        content: "";
        position: absolute;
        border-width: 30px 60px;
        left: 0px;
        right: 0px;
        // border-width: 30px 45px;
        // left: 1200px;
        top: -35px;
        border-color: red;
        border-style: solid;
        border-color: transparent;
    }
    .column_content {
        float: left;
        width: 271px;
        padding: 10px;
        background-color: #e2deda;
        .column_a {
         float: none;
          color: #333;
          padding: 16px;
          text-decoration: none;
          display: block;
          text-align: left;
          opacity: 0.6;
          font-size: 14px;
          width: 180px;
          transition: box-shadow .4s, color .3s;
          &::after {
            background: none !important;
          }
        }
        .column_a:hover {
            background-color: #e2deda;
            color: #000;
            box-shadow: 0 3px #e4d19e;
            opacity: 1;
        }
    }
}

.dropdown {
    z-index: 25;
} 

.dropdown:hover {
    // .dropdown-content:hover, 
    .dropdown-content {
        border-radius: 2px;
        box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
        animation: fadeIn ease-in 0.2s;   
        display: block;
    }
}


.row_content {
    padding: 0px 500px;
}

// .select-box{
//     display: flex;
//     // width: 100%;
//     width: 155px;
//     flex-direction: column;
//     position: relative;
//     z-index: 1;
//     .options-container-branch{
//         background: #2f3640;
//         color: #f5f6fa;
//         max-height: 0;
//         width: 100%;
//         opacity: 0;
//         transition: all 0.4s;
//         // border-bottom-left-radius: 8px;
//         // border-bottom-right-radius: 8px;
//         border-radius: 8px;
//         overflow: hidden;
//         order: 1;
//         position: absolute;
//         margin-top: 50px;

//         &::-webkit-scrollbar {
//             width: 8px;
//             background: #0d141f;
//             border-radius: 0 8px 8px 0;
//         }

//         &::-webkit-scrollbar-thumb {
//             background: #525861;
//             border-radius: 0 8px 8px 0;
//         }
//     }
//     .options-container-price {
//         background: #2f3640;
//         color: #f5f6fa;
//         max-height: 0;
//         width: 100%;
//         opacity: 0;
//         transition: all 0.4s;
//         border-radius: 8px;
//         overflow: hidden;
//         order: 1;
//         position: absolute;
//         margin-top: 50px;

//         &::-webkit-scrollbar {
//             width: 8px;
//             background: #0d141f;
//             border-radius: 0 8px 8px 0;
//         }

//         &::-webkit-scrollbar-thumb {
//             background: #525861;
//             border-radius: 0 8px 8px 0;
//         }
//     }

//     .options-container-branch.active {
//         max-height: 240px;
//         opacity: 1;
//         overflow-y: scroll;

//         + {
//             .selected {
//                 &::after {
//                     transform: rotateX(180deg);
//                     top: -6px;
//                 }
//             }
//         }
//     }
//     .options-container-price.active {
//         max-height: 240px;
//         opacity: 1;
//         overflow-y: scroll;

//         + {
//             .selected {
//                 &::after {
//                     transform: rotateX(180deg);
//                     top: -6px;
//                 }
//             }
//         }
//     }

//     .option-branch,.option-price {
//         padding: 12px 24px;
//         cursor: pointer;

//         p{
//             color: #f2f2f2;
//             margin: 0;
//         }

//         &:hover {
//             background: #414b57;
//         }

//         .radio {
//             display: none;
//         }
//     }

//     label {
//         cursor: pointer;
//     }
// }

// .selected-branch,.selected-price {
//     background: #2f3640;
//     border-radius: 8px;
//     margin-bottom: 8px;
//     color: #f5f6fa;
//     position: relative;
//     order: 0;
//     padding: 12px 24px;
//     cursor: pointer;

//     &::after {
//         content: "";
//         background: url("/frontend/img/arrow-down.svg");
//         background-size: contain;
//         background-repeat: no-repeat;
//         position: absolute;
//         height: 100%;
//         width: 32px;
//         right: 10px;
//         top: 8px;
//         transition: all 0.4s;
//     }
// }
  
  /*# sourceMappingURL=style.css.map */
  $color_1: #f5f6fa;

  .select-index {
    z-index: 9999 !important;
  }

  .select-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    z-index: 99;
    top: 0px;
      .options-container {
          background: #2f3640;
          color: $color_1;
          max-height: 0;
          width: 100%;
          opacity: 0;
          transition: all 0.4s;
          border-radius: 8px;
          overflow: hidden;
          order: 1;
          position: absolute;
          &::-webkit-scrollbar {
              width: 8px;
              background: #0d141f;
              border-radius: 0 8px 8px 0;
          }
          &::-webkit-scrollbar-thumb {
              background: #525861;
              border-radius: 0 8px 8px 0;
          }
      }
      .options-container.active {
          max-height: 240px;
          opacity: 1;
          top: 62px;
          + {
              .selected {
                  &::after {
                      transform: rotateX(180deg);
                      top: -6px;
                  }
              }
          }
      }
      .option {
          padding: 12px 12px 8px 12px;
          cursor: pointer;
          text-align: center;
          &:hover {
              background: #414b57;
          }
          .radio {
              display: none;
          }
      }
      label {
          cursor: pointer;
      }
  }
  .selected {
      background: #2f3640;
      border-radius: 8px;
      margin-bottom: 8px;
      color: $color_1;
      order: 0;
      bottom: -25px;
      padding: 12px 12px 8px 12px;
      cursor: pointer;
      text-align: center;
      &::after {
          content: "";
          background: url("arrow-down.svg");
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          height: 100%;
          width: 32px;
          right: 10px;
          top: 5px;
          transition: all 0.4s;
      }
  }


$color_1: var(--text-color);
$color_2: var(--primary-color);
$color_3: #999;
$color_4: #757575;
$color_5: transparent;
$background-color_1: #fdfdfd;
$background-color_2: var(--white-color);
$background-color_3: #f8f8f8;
$background-color_4: #f05d41;
$border-color_1: transparent transparent white transparent;

.header__cart-list {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
	cursor: default;
	position: absolute;
	top: calc(100% + 5px);
	right: -14px;
	background-color: $background-color_1;
	width: 400px;
	border-radius: 2px;
	box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
	animation: fadeIn ease-in 0.2s;
	display: none;
	z-index: 999999;
	&::after {
		cursor: pointer;
		content: "";
		position: absolute;
		right: 3px;
		top: -24px;
		border-width: 16px 20px;
		border-style: solid;
		border-color: $border-color_1;
	}
}
.header__cart-list--no-cart {
	padding: 24px 0;
	.header__cart-no-cart-img {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.header__cart-list-no-cart-msg {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}
.header__cart-no-cart-img {
	width: 50%;
	display: none;
	border: 1px solid #e8e8e8;
}
.header__cart-list-no-cart-msg {
	display: none;
	font-size: 1.4rem;
	margin-top: 14px;
	color: $color_1;
}
.header__cart-wrap {
	&:hover {
		.header__cart-list {
			display: block;
		}
	}
	position: relative;
	display: inline-block;
	padding: 0 12px;
	cursor: pointer;
}
.header__cart-notice {
	position: absolute;
	padding: 1px 7px;
	top: -4px;
	right: -4px;
	font-size: 1.4rem;
	line-height: 1.4rem;
	border-radius: 10px;
	border: 2px solid #EE4D2D;
	color: $color_2;
	background-color: $background-color_2;
}
.header__cart-list-item {
	padding-left: 0;
	list-style: none;
	max-height: 522px;
	overflow-y: auto;
}
.header__cart-item {
	display: flex !important;
	align-items: center;
    margin: 10px 10px 10px 0px !important;
	&:hover {
		background-color: $background-color_3;
	}
}
.header__cart-img {
	width: 42px;
	height: 42px;
	margin: 12px;
}
.header__cart-heading {
	text-align: left;
	margin: 8px 0 8px 12px;
	font-size: 1.4rem;
	color: $color_3;
	font-weight: 400;
}
.header__cart-item-info {
	width: 100%;
}
.header__cart-item-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}   
.header__cart-item-name {
	font-size: 16px;
    line-height: 24px;
	max-height: 4rem;
	overflow: hidden;
	font-weight: 400;
	color: $color_1;
	margin: 0;
	flex: 1;
	text-align: left;
	padding-right: 16px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.header__cart-item-price {
	font-size: 1.4rem;
	font-weight: 400;
	color: $color_2;
}
.header__cart-item-multiply {
	font-size: 0.9rem;
	margin: 0 4px;
	color: $color_4;
}
.header__cart-item-qnt {
	font-size: 1.2rem;
	color: $color_4;
}
.header__cart-item-body {
	display: flex;
	justify-content: space-between;
}
.header__cart-item-description {
	color: $color_4;
	font-size: 18px;
	font-weight: 500;
}
.header__cart-item-remove {
	color: $color_1;
	font-size: 18px;
	&:hover {
		cursor: pointer;
		color: $color_2;
	}
}
.header__cart-view-cart {
	float: right;
	margin: 12px 12px 10px 0px;
	&:hover {
		background-color: $background-color_4;
	}
}
.header__navbar-user-item--separate {
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.header__logo-link {
	color: $color_5;
	text-decoration: none;
}

$color_1: var(--text-color);
$color_2: var(--white-color);
$color_3: #949494;
$background-color_1: rgba(0, 0, 0, 0.4);
$background-color_2: #fff;
$background-color_3: rgba(0, 0, 0, 0.05);
$background-color_4: var(--primary-color);
$background-color_5: #c3c3c3;

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes growth {
	from {
		transform: scale(var(--growth-from));
	}
	to {
		transform: scale(var(--growth-to));
	}
}
/* Modal */
/* 
.auth-form {
    width: 500px        ;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    outline: none;
    border: 1px solid var(--border-color);
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
} */
.modal {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	animation: fadeIn linear 0.1s;
}
.modal__overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: $background-color_1;
}
.modal__body {
	--growth-from: 0.7;
	--growth-to: 1;
	margin: auto;
	position: relative;
	z-index: 1;
	animation: growth linear 0.1s;
}
.btn--default {
	min-width: 124px;
	height: 34px;
	text-decoration: none;
	border: none;
	border-radius: 2px;
	font-size: 1.5rem;
	padding: 0 12px;
	outline: none;
	cursor: pointer;
	background-color: $background-color_2;
	color: $color_1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	line-height: 18px;
}
.btn--default.btn-normal {
	&:hover {
		background-color: $background-color_3;
	}
}
.btn--default.btn--primary {
	background-color: $background-color_4;
	color: $color_2;
}
.btn--default.btn--disabled {
	cursor: default;
	color: $color_3;
	background-color: $background-color_5;
}

.header__right__widget li:last-child:hover .header__cart-list {
    display: block;
}

.btn:focus {
    box-shadow: none;
}