/*---------------------
  Shop
-----------------------*/
.shop {
    padding-top: 70px;
    padding-bottom: 80px;
}

.sidebar__categories {
    margin-bottom: 50px;

    .section-title {
        margin-bottom: 35px;

        h4 {
            font-size: 18px;
        }
    }
}

.categories__accordion {

    .card {
        border: none;
        border-radius: 0;
        padding-bottom: 12px;
        border-bottom: 1px solid #f2f2f2 !important;
        margin-bottom: 12px;

        &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none !important;
        }
    }

    .card-heading {
        cursor: pointer;

        a {
            font-size: 14px;
            font-weight: 500;
            color: $heading-color;
            display: block;
        }
    }

    .card-body {
        padding-left: 0;
        padding-top: 6px;
        padding-bottom: 0;

        li {
            list-style: none;
            position: relative;
            padding-left: 16px;

            &:before {
                position: absolute;
                left: 4px;
                top: 14px;
                height: 1px;
                width: 4px;
                background: #666666;
                content: "";
            }

            a {
                font-size: 14px;
                color: #666666;
                line-height: 30px;
            }
        }
    }
}

.categories__accordion .card-heading a:after,
.categories__accordion .card-heading>a.active[aria-expanded=false]:after {
    content: "\f107";
    font-size: 14px;
    font-family: "FontAwesome";
    color: #666666;
    position: absolute;
    right: 30px;
    top: 0px;
}

.categories__accordion .card-heading.active a:after {
    content: "\f106";
    font-size: 14px;
    font-family: "FontAwesome";
    color: #666666;
    position: absolute;
    right: 30px;
    top: -1px;
}

.categories__accordion .card-heading a[aria-expanded=true]:after,
.categories__accordion .card-heading>a.active:after {
    content: "\f106";
    font-size: 14px;
    font-family: "FontAwesome";
    color: #666666;
    position: absolute;
    right: 30px;
    top: -1px;
}

.sidebar__filter {
    position: relative;
    margin-bottom: 60px;

    .section-title {
        margin-bottom: 50px;

        h4 {
            font-size: 18px;
        }
    }

    a {
        font-size: 14px;
        color: #0d0d0d;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        display: inline-block;
        padding: 5px 16px 5px 24px;
        border: 2px solid #ff0000;
        position: absolute;
        right: 0;
        bottom: -5px;
        border-radius: 2px;
    }
}

.filter-range-wrap .range-slider .price-input {
    position: relative;

    p {
        font-size: 16px;
        color: #0d0d0d;
        font-weight: 500;
        display: inline-block;
        margin-bottom: 0;
    }
}

.filter-range-wrap .range-slider .price-input:after {
    position: absolute;
    left: 81px;
    top: 12px;
    height: 1px;
    width: 5px;
    background: #0d0d0d;
    content: "";
}

.filter-range-wrap .range-slider .price-input input {
    font-size: 16px;
    color: #0d0d0d;
    max-width: 16%;
    border: none;
}

.filter-range-wrap .range-slider .price-input input:nth-child(1) {
    margin-right: 28px;
}

.filter-range-wrap .price-range {
    border-radius: 0;
    margin-bottom: 28px;
}

.filter-range-wrap .price-range.ui-widget-content {
    border: none;
    background: rgba(0, 0, 0, 0.1);
    height: 5px;
}

.filter-range-wrap .price-range.ui-widget-content .ui-slider-handle {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: $primary-color;
    border: none;
    outline: none;
    cursor: pointer;
}

.filter-range-wrap .price-range .ui-slider-range {
    background: $primary-color;
    border-radius: 0;
}

.pagination__option {

    ul,
    li {
        display: flex;
        list-style: none;

        .active {
            span {
                border-color: #0d0d0d;
                background: #0d0d0d;
                color: $white-color;
            }
        }
    }

    a,
    span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 40px;
        width: 40px;
        border: 2px solid #f2f2f2;
        border-radius: 50%;
        font-size: 14px;
        color: $heading-color;
        font-weight: 600;
        line-height: 40px;
        text-align: center;
        @include transition(all, .3s);
        margin-right: 6px;

        &:last-child {
            margin-right: 0;
        }

        i {
            font-weight: 600;
        }

        &:hover {
            background: #0d0d0d;
            border-color: #0d0d0d;
            color: $white-color;
        }

    }
}

.find-panel {
    display: flex;
    justify-content: space-between;

    .style-select {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }

        .style-select-element {
            width: auto;
        }
    }

    .btn-find-style {
        &:hover {
            transition: all ease 0.8s;
            opacity: 0.6;
        }
    }
}

.select-box{
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    z-index: 1;
    .options-container-branch{
        background: #2f3640;
        color: #f5f6fa;
        max-height: 0;
        width: 100%;
        opacity: 0;
        transition: all 0.4s;
        // border-bottom-left-radius: 8px;
        // border-bottom-right-radius: 8px;
        border-radius: 8px;
        overflow: hidden;
        order: 1;
        position: absolute;
        margin-top: 50px;

        &::-webkit-scrollbar {
            width: 8px;
            background: #0d141f;
            border-radius: 0 8px 8px 0;
        }

        &::-webkit-scrollbar-thumb {
            background: #525861;
            border-radius: 0 8px 8px 0;
        }
    }
    .options-container-price {
        background: #2f3640;
        color: #f5f6fa;
        max-height: 0;
        width: 100%;
        opacity: 0;
        transition: all 0.4s;
        border-radius: 8px;
        overflow: hidden;
        order: 1;
        position: absolute;
        margin-top: 50px;

        &::-webkit-scrollbar {
            width: 8px;
            background: #0d141f;
            border-radius: 0 8px 8px 0;
        }

        &::-webkit-scrollbar-thumb {
            background: #525861;
            border-radius: 0 8px 8px 0;
        }
    }

    .options-container-branch.active {
        max-height: 240px;
        opacity: 1;
        overflow-y: scroll;

        + {
            .selected {
                &::after {
                    transform: rotateX(180deg);
                    top: -6px;
                }
            }
        }
    }
    .options-container-price.active {
        max-height: 240px;
        opacity: 1;
        overflow-y: scroll;

        + {
            .selected {
                &::after {
                    transform: rotateX(180deg);
                    top: -6px;
                }
            }
        }
    }

    .option-branch,.option-price {
        padding: 12px 24px;
        cursor: pointer;

        p{
            color: #f2f2f2;
            margin: 0;
        }

        &:hover {
            background: #414b57;
        }

        .radio {
            display: none;
        }
    }

    label {
        cursor: pointer;
    }
}

.selected-branch,.selected-price {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    order: 0;
    padding: 12px 24px;
    cursor: pointer;

    &::after {
        content: "";
        background: url("/frontend/img/arrow-down.svg");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        height: 100%;
        width: 32px;
        right: 10px;
        top: 8px;
        transition: all 0.4s;
    }
}