
.top-rev_filter{
    form{
        display: flex;
        justify-content: space-around;

        .filter-rev{
            padding: 5px;
        }

        .btn-filter-rev{
            padding: 10px 40px;
        }
    }
}
.btn-rev-more{
    list-style: none;
    text-decoration: none;
    color: aliceblue;
}

.notification-login-admin {
    padding: 2px;
    top: -12px;
}